@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/fira-code-v21-latin-regular.eot"); /* IE9 Compat Modes */
	src:
		local(""),
		url("fonts/fira-code-v21-latin-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/fira-code-v21-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/fira-code-v21-latin-regular.woff") format("woff"),
		/* Modern Browsers */ url("fonts/fira-code-v21-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/fira-code-v21-latin-regular.svg#FiraCode") format("svg"); /* Legacy iOS */
}
