name: Build

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                include:
                    - platform: "ubuntu-24.04"
                    - platform: "windows-latest"

        runs-on: ${{ matrix.platform }}
        steps:
            - uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*

            - name: Set up Rust (Linux)
              uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f
              if: matrix.platform == 'ubuntu-24.04'
              with:
                profile: minimal
                toolchain: nightly-2025-10-14
                target: x86_64-unknown-linux-gnu
                components: clippy, rustfmt
                default: true
            
            - name: Set up Rust (Windows)
              uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f
              if: matrix.platform == 'windows-latest'
              with:
                profile: minimal
                toolchain: nightly-2025-10-14
                target: x86_64-pc-windows-msvc
                components: clippy, rustfmt
                default: true

            - name: Rust cache
              uses: Swatinem/rust-cache@v2.7.3
              with:
                  prefix-key: v0-rust-${{ matrix.platform }}
                  workspaces: "src-tauri -> target"

            - name: Install build dependencies (Ubuntu only)
              if: matrix.platform == 'ubuntu-24.04'
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

            - name: Install front-end dependencies
              run: |
                  yarn set version 4.0.2
                  yarn

            - name: Disable updater
              uses: restackio/update-json-file-action@2.1
              with:
                  file: "src-tauri/tauri.conf.json"
                  fields: '{"bundle.createUpdaterArtifacts": false}'

            - name: Write env file
              uses: DamianReeves/write-file-action@v1.0
              with:
                  path: "./.env"
                  contents: |
                      DUMMY_ENV=dummy

            - name: Build
              env:
                  NODE_OPTIONS: "--max-old-space-size=4096"
              run: |
                  yarn tauri build --verbose
